/target/

.classpath
.project
.settings/
bin/

# Compiled class file
*.class

# Log file
*.log
*.log.*
upload/

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.DS_Store 
/**/.DS_Store

# *.xlxs
# *.xlx

/**/application-utf-8dev.properties
/**/logs/


# intellj file
.idea/
.idea/workspace.xml
*.iml

# eclipse
.classpath
.project

/**/~*.xlsx



/**/jdbc.properties

# idea
.vscode/
.factorypath